@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 200, 36%, 21%;
    --accent: 245 158 11;
    --accent-blue: 198, 77%, 40%;
    --accent-green: 149, 31%, 50%;
  }

  * {
    @apply border-gray-200;
  }
}

@layer components {
  .custom-bullet-active {
    @apply w-6 bg-primary; /* Uses #2DD4BF */
  }
}

.floating-dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 2px, transparent 2px);
  background-size: 50px 50px;
  animation: float 6s linear infinite;
  opacity: 0.7;
}

@keyframes float {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
